#title{
	font-family:'datalegreya';
	color:#fff;
	letter-spacing:1em;
	font-style:normal;
	font-weight:100;
	font-size:3em;
}

#wrapper{
	background:#000;
	opacity:0.5;
	height:inherit;
	width:5em;
	z-index:10;
	float:right;
}
