body{
	height:100%;
}

@font-face {font-family: Mofulina; src: url('assets/mofulina/Mofulina.otf'); } 

.wrapper{
	margin:0 auto;
	text-align:center;
	height:50em;
        background-image:linear-gradient(45deg, #fa0, #acf);
}

h1{
	font-family:Mofulina;
	font-size:10em;
	opacity:85%;
	color:#fef0fa;
	font-weight:100;
	text-shadow:1px 1px 1px #ddd;
}
.space a{	
	margin:2em;
	height:7em; width:7em;
	padding:5em
}
.space img{
	height:inherit; width:inherit;
	background:transparent;
}
.linkedInLogo:hover, .octoCat:hover, .codePenLogo:hover{
	height:7.2em;width:7.2em;
}
