
@font-face {font-family: Mofulina; src: url('assets/mofulina/Mofulina.otf'); } 

body{
        background-image:linear-gradient(45deg, #ace, #aef);
}

.wrapper{
	margin:0 auto;
	text-align:center;
	height:50em;
}

h1{
	font-family:Mofulina;
	font-size:10em;
	opacity:85%;
	color:#fef0fa;
	font-weight:100;
	text-shadow:1px 1px 1px #ddd;
}

.space a{	
	margin:2em;	
	height:7em; width:7em;
	padding:5em
}
.space img{
	height:7em; width:7em;
	background:transparent;
}
